body {
    background-color: white; 
    margin: 0;
    padding: 0;
  }

#images{
    position: relative;
    align-items: center;
}

.bulb-on,.bulb-off{
 
    position: absolute;
    top: 100px;
    left: 500px;
    width: 500px;

}



#buttons {
   
    padding-top: 45%;
padding-left: 45%;
padding-right: 50%;
  
   display: flex;
   gap: 10px;
    border-radius: 2px;
}

#on , #off{
  cursor: pointer;
}

